.bottom-container {
    color: #ffffff;
    font-family: 'lato';
    font-weight: 300;
    font-size: 30px;
    background: orangered;
    display: flex;
    min-height: 1vh;
    flex-direction: column;
    border: solid black;
    height: 10%;
    align-items: center;
    width: 100%;
}
 
.center {
   display: flex;
   justify-content: center;
}
.fluid-container {
    width: 100%;
}
