.boardcontainer {
    background-color: cornflowerblue; 
    border-radius: 25px;
    margin: 32px;
    margin-top: 0px;
    padding: 16px;
    height: 50%;
    vertical-align: middle;
}
.center {
    display: flex;
    justify-content: center;
 }