.boardcontainer {
    background-color: cornflowerblue; 
    margin: 16px;
    margin-top: 0px;
    padding: 32px;
    height: 100%;
    vertical-align: middle;
    
}
.center {
    display: flex;
    justify-content: center;
 }