<mat-toolbar role="heading">
    <span class='link' [routerLink]="['home']">To-Do</span>
    <span class='link' [routerLink]="['boards']">My Boards</span>
    <span class='link' [routerLink]="['boardview/1']">Login Stuff Here</span>
</mat-toolbar>
    <div class="flex-container">  
        <mat-sidenav-container>
            <mat-sidenav mode="push"></mat-sidenav>
            <mat-sidenav-content>
                <span>This is where we will put the menu</span>
            </mat-sidenav-content>
            </mat-sidenav-container>
        <div class="body">
            <router-outlet></router-outlet>
        </div>
    </div>
<mat-toolbar role="Footer">
    <span>Created 2020 by Matt and Seth</span>
</mat-toolbar>