<app-header></app-header>
    <div class="flex-container">  
        <mat-sidenav-container>
            <mat-sidenav>Start</mat-sidenav>
            <mat-sidenav-content>This is the Sidebar. Sidebar things go here. (Alright, I'm gonna do this real quiet,
                'Cause I think you're sleeping)
                In there we stood
                Bled into something good
                A love for me easily infected by
                Fireworks and cinnamon gum
                Around that wall
                I promised you wouldn't fall
                Flip my lid, got me, kid, fall you did
                But I intend to catch you soft
                So lay in my arms
                In there we stood
                Bled into something good (Around the wall)
                Streetlight, short-sight
                Couldn't foresee it, would
                A love for me easily infected by
                Fireworks and cinnamon gum
                So lay in my arms
                Around the wall
                Promised you wouldn't fall
                Close my eyes and
                I can still feel it all
                Flip my lid, got me, kid, fall you did
                But I intend to catch you soft
                So lay in my arms</mat-sidenav-content>
            </mat-sidenav-container>
        <div class="body">
            <router-outlet></router-outlet>
        </div>
    </div>
<app-footer></app-footer>