.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: chocolate;
  }

.body {
    width: 100%;
}

.mat-sidenav-container {
    width: 20%;
    background-color: chartreuse;
    border: solid black;

}