.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.body {
    width: 100%;
    background-color: whitesmoke;
    
}

.mat-sidenav-container {
    height: 100%;
   
}

.mat-sidenav {
    width: 20%;
    background-color: slategray;
}

.mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
}

.mat-sidenav-content {
    background-color: whitesmoke;
}


.footer {
    justify-content: center;
}

.link:hover {
    cursor: pointer;
}
